.friends {
  display: grid;
}
.item {
  background-color: rgba(198, 196, 196, 0.8);
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  width: 280px;
  padding: 1rem;
  /* background-color: rgba(224, 223, 223, 0.996); */
  box-shadow: 4px 4px 16px #e1e1e1, -2px -2px 16px #fff;
  border-radius: 2.5rem;
}
.avatar {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: 1rem;
}
.name {
  font-size: 20px;
  color: #191c1d;
}
.status {
  display: block;

  width: 15px;
  height: 15px;

  border-radius: 50%;
}

.status__true {
  background-color: #74ee7e;
  border-radius: 50%;
}

.status__false {
  background-color: #f24343;
  border-radius: 50%;
}
